<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, viewport-fit=cover" />
    <meta name="description" content="Want to shop from AliExpress but don't have foreign exchange currency? Start buying from Aliexpress right now using DZD."  />
    <meta name="theme-color" content="#1b1f23" />
    <title>@ViewData["Title"] - reglini.dz</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        facebook: "#1876f2",
                        aliexpress: "#ff4747",
                        grim: "#1b1f23",
                        success: "#16a34a",
                        danger: "#ed3737",
                        warning: "#eab308",
                        lightTransparent: "rgb(0 0 0 / 0.05)",
                        darkTransparent: "rgb(0 0 0 / 0.5)",
                    },
                    zIndex: {
                        100: 100,
                    },
                },
            },
        }
    </script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspReglini.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>reglini.dz</h1>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
